drupal:
    core: 8.x
    profile: standard
    root: /var/www/html/drupal/drupal8
    site:
        domain: mywebsite.com
        name: My Website
        mail: admin@example.com
        google_analytics_account: UA-XXXXXX
    theme:
        name: *drupal.site.name
        base-theme:
            short-name: acreat_abyssin
            name: !join ["drupal-theme/", *drupal.theme.base-theme.short-name ]
            version: "^8.1.0"
        variables:
            $primary-color: blue
    sync-directories: !join ["conf/contrib", *drupal.site.domain, "/"]
    database:
        driver: pdo_mysql
        database: database
        username: root
        password: password
        host: localhost
        port: 3306
        prefix: ~
        charset: utf8mb4
        default_table_options:
            charset: *drupal.database.charset
            collate: utf8mb4_general_ci
    contact:
        name: My Contact Name
        email: *drupal.site.mail
        address: Adresse fictive
        postal_code: 35000
        city: Rennes
        latitude: 40
        longitude: -1
        phone: 0234567890
        mobile: "+33634567890"
        fax: 0324567890
        facebook_url: ""
        twitter_url: ""
        google_plus_url: ""
        linked_in_url: ""
    commands:
        - "drupal:generate:theme":
            name: *drupal.theme.name
            description: !join [ "Drupal Theme [", *drupal.theme.name, "] - Based on ", *drupal.theme.base-theme.short-name]
            core: *drupal.core
            base-theme: *drupal.theme.base-theme.name
            root: *drupal.root
            domain: *drupal.site.domain
            composer: ~
            sass:
                style:
                    import: 
                        - !join [ *drupal.theme.base-theme, "/styles/scss/",  "style.scss" ]
                        - "_variables"
                    .very-important:
                        font-size: large;
                        font-weight: bold;
                _variables: *drupal.theme.variables
            bower: ~
            npm: ~
            grunt: ~
        - "drupal:generate:file":
            source: "resources/files/banner.jpg"
            destination: "files/banner.jpg"
            override: true
        - "drupal:generate:file":
            source: "resources/files/favicon.ico"
            destination: "files/favicon.ico"
            override: true
        - "drupal:generate:file":
            source: "resources/files/logo.png"
            destination: "files/logo.png"
            override: true
        - "drupal:generate:file":
            source: "resources/files/maps-marker.png"
            destination: "files/maps-marker.png"
            override: true
        - "drupal:generate:file":
            source: "resources/files/no-photo.png"
            destination: "files/default_images/no-photo.png"
            override: true
    form:
        contact:
            name:
                type: textfield
                title: Dénomination sociale
                default_value: *drupal.contact.name
                required: true
            email:
                type: textfield
                title: Email
                default_value: *drupal.contact.email
                required: true
            address:
                type: textarea
                title: Adresse
                default_value: *drupal.contact.address
                required: true
            postal_code:
                type: textfield
                title: Code postal
                default_value: *drupal.contact.postal_code
                required: true
            city:
                type: textfield
                title: Ville
                default_value: *drupal.contact.city
                required: true
            phone:
                type: textfield
                title: Téléphone
                default_value: *drupal.contact.phone
                required: false
            phone:
                type: textfield
                title: Mobile
                default_value: *drupal.contact.mobile
                required: false
            fax:
                type: textfield
                title: Fax
                default_value: *drupal.contact.fax
                required: false
            latitude:
                type: textfield
                title: Latitude
                default_value: *drupal.contact.latitude
                required: false
            longitude:
                type: textfield
                title: Longitude
                default_value: *drupal.contact.longitude
                required: false
            facebook_url:
                type: textfield
                title: URL facebook
                default_value: *drupal.contact.facebook_url
                required: false
            twitter_url:
                type: textfield
                title: URL twitter_url
                default_value: *drupal.contact.twitter_url
                required: false
            google_plus_url:
                type: textfield
                title: URL Google plus
                default_value: *drupal.contact.google_plus_url
                required: false
            linked_in_url:
                type: textfield
                title: URL LinkedIn
                default_value: *drupal.contact.linked_in_url
                required: false

drush:
    commands:
        - site-install:
            profile: *drupal.profile
            args:
                "config_installer_sync_configure_form.sync_directory": *drupal.sync-directories
            options:
                db:
                    driver: *drupal.database.driver
                    database: *drupal.database.database
                    username: *drupal.database.username
                    password: *drupal.database.password
                    host: *drupal.database.host
                    port: *drupal.database.port
                    prefix: *drupal.database.prefix
                    charset: *drupal.database.charset
                    collation: *drupal.database.default_table_options.collate
                account-name: admin
                account-pass: admin
                account-mail: admin@example.com
                locale: fr
                clean-url: true
                site-name: *drupal.site.mail
                site-mail: *drupal.site.mail
                sites-subdir: *drupal.site.domain
        - pm-uninstall:
            list: quickedit
        - pm-uninstall:
            list: contact contextual
        - pm-uninstall:
            list: ["comment", "color", "help", "rdf", "search", "tour", "dashboard", "help", "overlay"]
        - pm-enable:
            list: [ *drupal.theme.name, "acreat_helper" ]
        - config-set:
            config-name: system.theme
            key: default
            value: *drupal.theme.name
        - config-set:
            config-name: system.theme
            key: admin
            value: seven
        - config-set:
            config-name: system.file
            key: temporary
            value: /tmp
        - config-set:
            config-name: google_analytics.settings
            key: account
            value: *drupal.site.google_analytics_account
        - config-set:
            config-name: acreat_factory.client
            key: client
            value: *drupal.form.contact
            args: ~
            options:
                format: auto
        - "import:content":
            args: ~
            options:
                content-path: !join [ *drupal.root, "/sites/", *drupal.site.domain, "/config/contrib/default_content" ]
            custom: [ "install", "update" ]
        - updatedb:
            args: ~
            options: ~
        - cache-rebuild:
            args: ~
            options: ~
